.navbar {
  background-color: #1A5B66;
  color: #fff;
}

.navbar-brand {
  /* height: 170px; */
  padding-left: 1rem;
  clear: both;
  /* color: #fff; */
  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
}

#navbarSupportedContent {
  margin-top: -40px;
}

.navbar li {
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 30px;
  color: #fff;
} 
/* .form-control-nav {
    float: right;
  } */
